@model ECommerceSample.Areas.Product.ViewModel.CategoryUpdateViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <b>Update Category</b>
                </div>
                <div class="card-body">
                   <form id="UpdateForm" method="post">
                       <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input asp-for="Name" class="form-control" required/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </form>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $("#UpdateForm").submit(function (e){
        e.preventDefault();
        var Id = $("#Id").val();
        var Name = $("#Name").val();
        if(Name == ""){
            return;
        }
        var data = {
            Id : Id,
            Name : Name,
        }
        $.ajax({
           url : "/api/product/categories/update/"+Id,
           type : "PUT",
           data : JSON.stringify(data),
           contentType: "application/json",
           success : function (){
               alert("Updated Successffully..");
               window.location = ("/product/category");

           },
           error: function(e){
               alert("Error "+e.responseText+" ("+e.status+")");

           }
        });
    });
</script>
}
