@using ECommerce.Entity
@model ProductDetailViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutHome";

}
<br />

<h2 class="text-info">Product Details</h2>
<form href="#" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="ProductId" />
                    <input asp-for="Name" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SKU"></label>
                </div>
                <div class="col-8">
                    <input asp-for="SKU" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="SKU" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Color"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Color" readonly="readonly" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CategoryName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CategoryName" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="BrandName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="BrandName" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="TagName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="TagName" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="TagName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Description" rows="5" readonly="readonly" class="form-control" ></textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-8">
                    @*@if (product != null)
                    {
                        <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id">Remove to Cart</button>
                    }
                    else
                    {
                        <input type="submit" class="btn btn-info form-control" value="Add to Cart" />
                    }*@
                        <input type="submit" class="btn btn-info form-control" value="Add to Cart" />
                    
                </div>

            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="@Model.Image" width="100%" height="250px" style="border-radius: 5px;border: 1px solid #efefef" />
            @if (Model.AvailabilityStatus == Product.AvailabilityStatusAvailable)
            {
                <img src="~/Images/instock-logo.png" width="200px" height="50px" />
            }
            else
            {
                <img src="~/Images/notinstock.jpg" width="200px" height="50px" />
            }

        </div>

    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



