@using ECommerceSample.Models
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}

<br />
<br />
<div id="dialog" style="display: none">
</div>
<div class="row">
    @foreach (var product in Model.ProductListModel)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size: 23px;color: steelblue">@product.Name</label>
                    </h4>
                </div>
                <img src="@product.Image" alt="Card Image" class="card-img-top" style="height: 300px;" />
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size: 20px;color: #a51313"><b>Price : @product.Price</b></label>
                        </div>
                        <a class="btn btn-success pull-right details" href="/Home/Details?productId=@product.Id">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts{
<script>
    $(".details").click(function (event) {
        event.preventDefault();
        this.blur();
        $.get(this.href, function(html) {
            alert("Hello");
            console.log(html);
          $(html).appendTo('body').modal();
        });
</script>
}


