@model ECommerceSample.Areas.Product.ViewModel.TagCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <b>Create Tag</b>
                </div>
                <div class="card-body">
                   <form id="CreateForm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input asp-for="Name" class="form-control" required/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </form>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $("#CreateForm").submit(function (e){
        e.preventDefault();
        var Name = $("#Name").val();

         if(Name == ""){
            return;
           }
        var data = {
            Name : Name,
        }
        $.ajax({
           url : "/api/product/tags/",
           type : "POST",
           data : JSON.stringify(data),
           contentType: "application/json",
           success : function (e){
               alert("Created Successfully with id ("+e.id+")");
               window.location = ("/product/tag");
           },
           error: function(e){
               alert("Error "+e.responseText);
           }
        });
    });
</script>
}
