@model IEnumerable<ECommerceSample.Areas.Product.ViewModel.TagIndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-2">
        <div class="col-md-12">

            <h2 class="text-center">Tag</h2>
        </div>
    </div>
    <p>
        <a class="btn btn-success" asp-controller="Tag" asp-area="Product" asp-action="Create">Add</a>
    </p>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="data-table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Update</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>